/* Flex terbagi menjadi 2 */
/* Column 6 row */
/* Mengatur alur menggunakan flex-direction */

.kakek{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.bapak1,
.bapak2,
.bapak3{
    width: 100%;
    display: flex;
    height: 100%;
}

.anak1,
.anak2,
.anak3,
.anak4,
.anak5,
.anak6,
.anak7,
.anak8,
.anak9{
    width: 100%;
    height: 100%;
    border: white solid 1px;
}

.anak1{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak2{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak3{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak4{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak5{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak6{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak7{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak8{
    width: 100px;
    height: 100px;
    background-color: cyan;
}
.anak9{
    width: 100px;
    height: 100px;
    background-color: cyan;
}